h1 {
    text-align: center;
	font-size: 400%;
	font-family: Tahoma;
	color: #a58143;
}

h2 {
    font-size: 250%;
	font-family: Tahoma;
	color: #a58143;
}

h3 {
    font-size: 150%;
	font-family: Tahoma;
	color: #a58143;
}

p {
    font-size: 150%;
	font-family: Tahoma;
	color: #a58143;
}

table {
    font-size: 120%;
	font-family: Tahoma;
	color: #a58143;
	table-layout: flex;
}

td {
	flex: 1;
}

ul {
    list-style-type: none; /* Entfernt den Standardmarker (Punkt) */
    padding: 0;
}

.odd-paragraph {
    color: yellow;
}

.even-paragraph {
    color: white;
}

.b1 {
	background:url('NachthimmelMond.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h4 {
	margin-bottom: 50px;
}

h5 {
	margin-bottom: 75px;
}

h6 {
	margin-bottom: 150px;
}
